img { max-width: 100%; height: auto; }

:root {
    --background_color_one:#203143;
    --background_color_two:#D296BE;
    --text_color_one: #ffffff;
    --highlight_color: #EB96A5;

}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-image: url(background.jpg);
  
    background-position: center center;

    background-repeat: no-repeat;
    
    background-attachment: fixed;
    
    background-size: cover;
    
    background-color: #EB96A5;ˀ
    
    font-family: 'Roboto Mono', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

/* BERLAKU DI SEMUA */
.navbarku{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Roboto mono";
}


.itemku{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3.5rem;
    cursor: pointer;
}
    .itemku:hover{
        transform: scale(1.5);
    }
    .itemku img{
        min-width: 30%;
        width: 30%;
    }

.homeku{
    flex-direction: row;
    width: 100%;
    display: flex;
    justify-content: space-between;
}    
.tempatsocmed{
    width: 20%;
}
.socmedku{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4.5rem 0 3.5rem 0;
    cursor: pointer;
}
    .socmedku:hover{
        transform: translateX(10%);
    }
    .socmedku img{
        min-width: 2rem;
        width: 4.5rem;
    }

/* INDEX.HTML */
.tempatfoto{
    width: 500px;
    margin: 0 32px 0 0;
    align-self: center;
}

.nangisbanget{
    display: flex;
    flex-direction: row;
}

.foto img{
    border-radius: 35%;
    width: 500px;
}
.tempathalo{
    width: 620px;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 10% 0 10% 0;
}
.perkenalan{
    display: flex;
    font-size: 20px;
    font-family: "Roboto mono";
    color: #ffffff;
}

.perkenalanHOHO{
    display: flex;
    font-size: 60px;
    font-weight: bold;
    font-family: "Roboto mono";
    color: #ffffff;
    cursor: progress;
}

.perkenalanHOHO:hover{
    color: black
}


/* ABOUT.HTML */
.tempataboutme{
    width: 60%;
    justify-content: center;
    
}

.aboutme1{
    display: flex;
    font-family: 'Roboto mono';
    color: white;
    font-weight: bold;
    font-size: 1.6em;
    margin: 0 0 3rem 0;
}

.aboutme2{
    display: flex;
    font-family: 'Roboto mono';
    color: white;
    font-weight: bold;
    font-size: 1.6em;
}

/* EDUCATION */
.tempateducation{
    width: 60%;
    margin: 1rem 0 1rem 0;
    color:white
}
.education1{
    display:flex;
    flex-direction: row;
    align-items: center;
    font-family: "Roboto mono";
    justify-content: center;
    margin: 1rem 0 1rem 0;
}
.education1 img{
    width: 10%;
}

/* SKILL */
.tempatskill{
    width: 60%;
    display: flex;
    margin: 1rem 0 1rem 0;
    color:white;
    font-size: 2vw;
    flex-direction: row;
    font-family: "Roboto mono";
    
}

.skillku1{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.skillku1 img{
    width: 50%;
}

.skillku2{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.skillku2 img{
    width: 20%;
}

.tempat_back_to{
    width: 20%;
}
    .back_to{
        display: flex;
        justify-content: center;
        position: relative;
        top: 35%;
    }
    .back_to img{
        width: 6rem;
        border-radius: 50%;
        position: relative;
        bottom: 100%;
    }

    .back_to:hover{
        transform: scale(1.5);
        cursor: s-resize;
    }

    @media (max-width: 325.98px) {
        .tempatfoto{
            width: 150px;

        }
        .tempathalo{
            width: 370px;
        }

        .foto img{
            width: 100px;
        }
        .itemku{
            margin: 1rem;
            font-size: 50%
        }
        .itemku img{
            width:2.3rem;
        }
        .socmedku img{
            width: 2rem;
        }

        /* .perkenalan{
            font-size: 10px;
        } */
        
        /* .perkenalanHOHO{
            font-size: 30%;
        } */
        .tempatskill{
            flex-direction: column;
        }

        .skillku1{
            width: 20%;
        }
    }